<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About User Management System</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <!-- You can add content here if needed -->
    </div>
    <div class="col-md-6">
        <h3>Welcome to UserMGMT</h3>
        <p>Experience seamless and secure user management with our system.</p>
        <ul>
            <li>User registration</li>
            <li>User profile management</li>
            <li>User Data Editing</li>
            <li>User Data Deletion</li>
            <li>User Data Search</li>
        </ul>
    </div>
</div>

<div class="pt-4">
    <h3>Get Involved</h3>
    <p>Here's how you can get involved:</p>
    <ul>
        <li>Star our repository on <a href="https://github.com/Rohit-Bhetal/userMGMTSys" class="text-decoration-none">GitHub</a></li>
        <li>Report issues or suggest improvements</li>
        <li>Contribute code via pull requests</li>
        <li>Share your experience using our system</li>
    </ul>
</div>
